:root {
  --md-primary-fg-color:        #0FA9BA;
  --md-primary-fg-color--light: #0FA9BA;
  --md-primary-fg-color--dark:  #0FA9BA;
}
pre code {
    white-space: pre-wrap;       /* CSS3 */
    white-space: -moz-pre-wrap;  /* Firefox */
    white-space: -pre-wrap;      /* Opera <7 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* IE */
}
