pre code {
    white-space: pre-wrap;       /* CSS3 */
    white-space: -moz-pre-wrap;  /* Firefox */
    white-space: -pre-wrap;      /* Opera <7 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* IE */
}

.md-content__button.md-content__button--icon::after {
    content: 'Edit on GitHub'; /* Add text */
    display: inline-block;
    padding: 0.5em 1em;
    background-color: #24292e;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
}
